<div>
	<h2>Pagina 2</h2>
    <p>
    	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore impedit fugit debitis iusto corporis voluptatem vitae culpa, earum voluptates. Corporis eaque sint officiis nam, accusamus ab facere doloribus. Dolore, sequi.
    </p>
</div>