html, body{
	margin:0;
	padding:0;
	font-size:20px;
	overflow:hidden;
}

a{
	text-decoration: none;
}

#wrapper{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
}

#header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:30px;
  background-color: #eee;
  font-size:10px;
  z-index:10;
}

#footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:40px;
  background-color: #000;
  z-index:11;
}

#container{
  -webkit-overflow-scrolling: touch;
}

#left{
	background-color: #000;
	color:#fff;
	font-size:30px;
}

.page{
  position:absolute;
  -webkit-backface-visibility: hidden;
  top:30;
  left:0;
  height:100%;
  width:100%;
  -ms-transform: translate3d(0,0,0); /* IE 9 */
  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
   transform: translate3d(0,0,0);
   -webkit-transition:-webkit-transform .3s ease;
   transition:transform .3s ease;
   overflow:hidden;
}

.page.center{
  -ms-transform: translate3d(0,0,0); /* IE 9 */
  -webkit-transform: translate3d(0,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(0,0,0);

}

.page.left{
  -ms-transform: translate3d(-100%,0,0); /* IE 9 */
  -webkit-transform: translate3d(-100%,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(-100%,0,0);
}

.page.right{
  -ms-transform: translate3d(100%,0,0); /* IE 9 */
  -webkit-transform: translate3d(100%,0,0); /* Chrome, Safari, Opera */
  transform: translate3d(100%,0,0);
}

/*menu section*/
#menu-btn{
	background:url('img/icon-menu.png') no-repeat top left;
	width:30px;
	height:30px;
	display:block;
}

.list-menu{
  list-style-type:none;
  margin:0;
  padding:0;
}

.list-menu li{
	text-align: center;
	padding:10px 0;
	border-bottom:1px solid #fff;
	display:block;
	width:100%;
}

.list-menu li a{
	color:#fff;
}

#loader{
	background:rgba(250,250,250,0.5) url('img/loading.gif') no-repeat center;
	width:100%;
	height:100%;
	position:absolute;
	-webkit-backface-visibility: hidden;
	top:0px;
	left:100%;
	z-index:100;
	overflow:hidden;
}

#loader.show{
    left:0px;
}

.image{
	width:100%;
	height:auto;
}

